## High performance pandas

In [2]:
import pandas as pd

df = pd.read_csv("../data/data_processing/athlete_events.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [3]:
df["Season"]

0         Summer
1         Summer
2         Summer
3         Summer
4         Winter
           ...
271111    Winter
271112    Winter
271113    Winter
271114    Winter
271115    Winter
Name: Season, Length: 271116, dtype: object

In [4]:
df["Season"].value_counts()

Season
Summer    222552
Winter     48564
Name: count, dtype: int64

In [5]:
# Boolean mask - used for filtering out all winter rows

df["Season"] == "Winter"

0         False
1         False
2         False
3         False
4          True
          ...
271111     True
271112     True
271113     True
271114     True
271115     True
Name: Season, Length: 271116, dtype: bool

In [13]:
mask_filtering = df[df["Season"] == "Winter"]
mask_filtering.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [14]:
query = df.query("Season == 'Winter'")
query.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [16]:
mask_filtering == query

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
6,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271112,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271113,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271114,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271115,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False

In [17]:
(mask_filtering == query)["ID"].sum()

48564

## Check performance

In [27]:
%timeit df[df["Season"] == "Winter"]
%timeit df.query("Season == 'Winter'")

34.9 ms ± 2.91 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
28.3 ms ± 433 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [25]:
df.query("Height > 180").head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [28]:
%timeit df[df["Height"] > 180]
%timeit df.query("Height > 180")

15.8 ms ± 1.02 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
19.9 ms ± 177 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
%timeit df[(df["Sex"] == "F") & (df["Height"] > 180) & (df["NOC"] == "SWE")]
%timeit df.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

17.4 ms ± 110 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
10.8 ms ± 554 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## pyarrow backend

In [32]:
df_arrow = df.convert_dtypes(dtype_backend="pyarrow")

df_arrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64[pyarrow]
 1   Name    271116 non-null  string[pyarrow]
 2   Sex     271116 non-null  string[pyarrow]
 3   Age     261642 non-null  int64[pyarrow]
 4   Height  210945 non-null  int64[pyarrow]
 5   Weight  208241 non-null  double[pyarrow]
 6   Team    271116 non-null  string[pyarrow]
 7   NOC     271116 non-null  string[pyarrow]
 8   Games   271116 non-null  string[pyarrow]
 9   Year    271116 non-null  int64[pyarrow]
 10  Season  271116 non-null  string[pyarrow]
 11  City    271116 non-null  string[pyarrow]
 12  Sport   271116 non-null  string[pyarrow]
 13  Event   271116 non-null  string[pyarrow]
 14  Medal   39783 non-null   string[pyarrow]
dtypes: double[pyarrow](1), int64[pyarrow](4), string[pyarrow](10)
memory usage: 46.4 MB

In [33]:
%timeit df_arrow[(df_arrow["Sex"] == "F") & (df_arrow["Height"] > 180) & (df_arrow["NOC"] == "SWE")]
%timeit df_arrow.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

4.07 ms ± 16.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
11.3 ms ± 17.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)